@font-face {
  font-family: "Credits";
  /* src: url("../webfonts/BrightShine-Title/brightshine_script_typeface-webfont.woff") format("woff"); */
  src: url("../webfonts/Credits/Credits.ttf") format("truetype");
  /* src: url("../webfonts/manteka/manteka.ttf") format("truetype"); */
}

.table {
  color: rgb(255, 255, 255);
  font-family: Credits;

}

.table_pad {
  float: none;
  margin: 0 18% 0 auto;
  width: 50%;

}

a {
  text-decoration: none !important;
  color: rgb(255, 255, 255);

}

h1 {
  color: rgb(255, 255, 255);
  font-family: Credits;

}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}

#movetxt {
  animation: moving 45s infinite;
  -webkit-animation: moving 45s infinite;
  position: relative;



}

body {
  overflow: hidden;
  /* Hide scrollbars */
}


.bg-dark {
  background-color: #000;
}