body {
    overflow: hidden;
    /* Hide scrollbars */
  }

  @font-face {
    font-family: "Credits";
    /* src: url("../webfonts/BrightShine-Title/brightshine_script_typeface-webfont.woff") format("woff"); */
    src: url("../webfonts/Credits/Credits.ttf") format("truetype");
    /* src: url("../webfonts/manteka/manteka.ttf") format("truetype"); */
  }



  #movetxt {
    animation: moving 45s infinite;
    -webkit-animation: moving 45s infinite;
    position: relative;


  }

  #table_pad_up {
    padding-left: 7em;
    color: rgb(255, 255, 255);

  }

  .content {
    /* padding-top: 40px; */
    overflow: hidden;
  }

  table {
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    font-family: "Credits";


  }

  h1,
  h2 {

    font-size: 2.5em;
    color: rgb(255, 255, 255);
    font-family: "Credits";

  }
  h2>img {
      margin-top: -5px;
      height: 2rem;
      width: 1em;
  }

  a {
    text-decoration: none !important;
    color: rgb(255, 255, 255);

  }

  /* 
p {
  color: rgb(255, 255, 255);

}
*/